<p> Play Apples to Apples using this App</p>

<ul>
    {{#each adjectives}}

        <p><span class="label">ID:</span>{{this.id}}</p>
        <p><span class="label">Adjective:</span>{{this.adjective}}</p>
        <p><span class="label">Description:</span>{{this.description}}</p>

        <p><span class="label">ID:</span>{{this.id}}</p>
        <p><span class="label">Adjective:</span>{{this.adjective}}</p>
        <p><span class="label">Description:</span>{{this.description}}</p>

    {{/each}}

</ul>